.carousel-item {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.EventsCarousel {
    width: 100%;
    margin: auto;
    margin-bottom: 5rem;
}

.EventsCarouselPic {
    margin: 0.5rem;
    max-width: 25rem;
    width: 100%;
    border: 3px solid #A76399;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.slick-prev, 
.slick-next {
    display: none !important;
}

.impactCard {
    max-width: 35rem;
}

/* ===============================================
   Responsive Styles
   =============================================== */

/* For tablets and medium devices */
@media (max-width: 992px) {
    .EventsCarouselPic {
        max-width: 20rem; /* Slightly reduce image size */
    }
}

/* For smaller devices */
@media (max-width: 768px) {
    .EventsCarouselPic {
        max-width: 18rem; /* Further reduce image size */
    }
    .EventsCarousel {
        margin-bottom: 3rem; /* Reduce bottom margin */
    }
    .carousel-item {
        padding: 15px; /* Reduce padding for a tighter layout */
    }
}

/* For very small devices */
@media (max-width: 576px) {
    .EventsCarouselPic {
        max-width: 20rem; /* Smallest image size on mobile */
        width: 100%;
    }
    .carousel-item {
        padding: 10px; /* Even tighter spacing on small screens */
    }
}
